@model IEnumerable<projeto.Models.Vaga>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Vagas";
    Layout = "_Layout";
}

<style>
    .descricao {
        white-space: wrap;
        width: 30%;                   
        overflow: hidden;
        text-overflow: clip ellipsis;
    }
</style>

<div>
    <h2>Vagas</h2><br/>
    <a class="btn btn-primary" asp-controller="Adm" asp-action="CadastrarVaga">Cadastrar vaga</a>
</div>

<script>
    $(document).ready( function () {
        $('#vagas').DataTable({
            //"info" : false,
            "language" : {
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "zeroRecords": "Desculpe, nada encontrado",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhuma vaga cadastrada no sistema.",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "próximo",
                    "previous": "Anterior"
                }
            }
        });
    } );
</script>

<hr/>
<table id="vagas" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Cod vaga</th>
            <th>Projeto</th>
            <th>Qtd vagas</th>
            <th>Data de abertura</th>
            <th>Descrição</th>
            @if (SignInManager.IsSignedIn(User))
            {
                <th>Ações</th>
            }
        </tr>
    </thead>
        <tbody>
        @foreach (var vagas in Model)
            {
                <tr>
                    <td>@vagas.Id</td>
                    <td>@vagas.CodVaga</td>
                    <td>@vagas.Projeto</td>
                    <td>@vagas.QtdVaga</td>
                    <td>@vagas.AberturaVaga</td>
                    <td class="descricao">@vagas.DescricaoVaga</td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <td>
                            <a class="btn btn-primary" href="/Adm/EditarVaga/@vagas.Id">Editar</a> 
                            <form asp-action="Deletar" asp-controller="Vagas" style="display: inline;">
                                <input type="hidden" name="id" id="id" value="@vagas.Id"> @*Muito importante que name e id sejam iguais *@
                                <button class="btn btn-danger">Deletar</button>
                            </form>
                        </td>
                    }
                </tr>                
            }
        </tbody>
</table>